################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CommandDemo/CommandDemo/obj/Debug
/CommandDemo/CommandDemo/bin/Debug
/CommandDemo/packages
/CommonLibs/packages/Newtonsoft.Json.11.0.2
/CommonLibs/CommonLibs.WpfTest/obj/Debug
/CommonLibs/CommonLibs/obj/Debug
/CommonLibs/.vs/CommonLibs/v15
/CommandDemo/CommandDemo/obj/Release
/.vs
/CommonLibs/CommonLibs/bin/Debug
/CommonLibs/CommonLibs.WpfTest/bin/Debug
/CommonLibs/packages
/CommonLibs/.vs/CommonLibs/DesignTimeBuild
